*.py[co]
*.pdf
.DS_Store
.vscode/

# Virtual environments
.direnv
.venv

# External tools that we may have built
darknet/
opencv/

# Processed frames
data/

# WHOI's videos
Diadrocam2017/

# Logs from HPC jobs
logs/

# Extracted frames
frames/

# Pretrained weights
pretrained/

# Scratch directory
scratch/

# Training workspace
training/
