*.py[co]
*.pdf
.DS_Store
.vscode/

# Virtual environments
.direnv
.venv

# External tools that we may have built
darknet/
opencv/

# Processed frames
data/

# Detections
detections/

# WHOI's videos
Diadrocam2017/

# Logs from HPC jobs
logs/

# Extracted frames
frames/

# Trained networks
networks/

# Pretrained weights
pretrained/

# Scratch directory
scratch/
